{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
    <style>
        body {
          background-image: url("media/{{ 'tacos-header.jpg' }}");
          background-repeat: no-repeat;
          background-size: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 30%">
        <div class="card">
            <div class="card-title">
                <h1>Reserver bord:</h1>
            </div>
            <h6>Velkommen til Trippin' Tacos - forbered deg på en kulinarisk reise du sent vil glemme!</h6>
            <div class="card-subtitle mb-2 text-muted">
                <h6>"*" betyr obligatorisk felt</h6>
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST" id="reservationForm" data-available-times-url="{% url 'ajax_load_available_times' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-success">Send inn</button>
                </form>
                <br></br>
                <h6>Ønsker du kansellere din bestilling? Klikk <a href="{% url 'cancel' %}">her</a></h6>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    /*
        $("#numberpicker").change(function () {
            var url = $("#reservationForm").attr("data-available-times-url");
            var starte_date = $("#datepicker").val();
            var number_of_people = $("#numberpicker").val();
            $.ajax({
                url: url,
                data: {
                    'start_date': starte_date,
                    'number_of_people': number_of_people
                },
                success: function (data) {
                    $("#timepicker").html(data);
                },
            });
        });
        */
        $('#datepicker').change(function () {
            var url = $("#reservationForm").attr("data-available-times-url");
            var starte_date = $("#datepicker").val();
            var number_of_people = $("#numberpicker").val();
            $.ajax({
                url: url,
                data: {
                    'start_date': starte_date,
                    'number_of_people': number_of_people
                },
                success: function (data) {
                    $("#timepicker").html(data);
                },
            });

        });
    </script>
{% endblock %}