{% extends 'base.html' %}
{% load cripsy_forms_tags %}


{% block head %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% endblock %}

{% block title %}
Booking
{% endblock %}




{% block content%}
    <h2>New Booking</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type=submit>Submit</button>
    </form>
{% endblock %}


