{% extends 'base.html' %}

{% block head %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 120px">
        <div class="row">
            <div class="container col-12">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Søk etter reservasjon">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit">Søk</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container" style="margin-top: 100px">
                <div class="row align-items-center">
                    <div class="col-4">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                        </form>
                    </div>
                    <div class="col-5">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1"
                               role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Walk in</a>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#multiCollapseExample2" aria-expanded="false"
                                    aria-controls="multiCollapseExample2" >Reserver Bord
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ walkinForm.as_p }}
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    {% csrf_token %}
                    {{ reservationForm.as_p }}
                    <button type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th style="width: 5%; color: white">xxxxxxxxx</th>
                <th style="width: 3.65%">12:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">13:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">14:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">15:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">16:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">17:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">18:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">19:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">20:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">21:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">22:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">23:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
                <th style="width: 3.65%">00:00</th>
                <th style="width: 3.65%; color: white">xx:xx</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Bord 1</th>
                <td colspan="2" class="containter rounded-pill align-middle" style="background-color: #00ff00">Per</td>
                <td></td>
                <td colspan="8" class="containter rounded-pill align-middle" style="background-color: #00ff00">Kari
                    Normann (2 pers)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Bord 2</th>
                <th></th>
                <td colspan="4">Ola Hansen (4 pers)</td>
                <td colspan="4">Kari Normann (2 pers)</td>
                <td colspan="4" class="containter rounded-pill" style="background-color: #ffff00">Walk In (3 pers)</td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock content %}