{% extends 'base.html' %}
{% block content %}
    <div class="form-group" style="margin-top: 150px">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-default btn-primary" type="submit" >Send inn</button>
            </form>
        </div>
    </div>

     <div class="container bg-warning rounded col-2 align-content-xl-center">
        <p> Totalt antall reservasjoner: </p> {{ tall }}
    </div>
     <div class="container bg-warning rounded col-2 align-content-xl-center">
        <p> Totalt antall unike gjester: </p> {{ totguests }}
    </div>

    <div class="col-2 align-content-xl-center">

    {{ code|safe }}

    </div>



{% endblock content %}



